﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form action="~/Home/Login">
        <label for="username">Username:</label><br>
        <input type="text" name="username" id="username" value="admin"><br><br>
        <label for="password">Password:</label><br>
        <input type="text" name="password" id="password" value="admin"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<div class="col-lg-12 p-2">
    <a target="_self"
       href="~/user/ExternalLogin?provider=facebook"
       class="btn btn-block btn-primary">
        <span class="icon-facebook2"></span> Facebook
    </a>
</div>

<script>window.fbAsyncInit = function () {
        FB.init({
            appId: '{your-app-id}',
            cookie: true,
            xfbml: true,
            version: '{api-version}'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>