﻿@using System.Security.Claims;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@*<p>You are loggin, with name @this.Context.User.FindFirst(ClaimTypes.Name).Value and Role @this.Context.User.FindFirst(ClaimTypes.Role).Value</p>*@
<form action="~/Home/Logout">
    <input type="submit" value="Log out" />
</form>